<div>
    <%= f.date_field :StartDay,:required => 'required', :class => "input_date" %>&nbsp
    <%= f.time_field :StartTime,:required => 'required',:class => "input_time" %> &nbsp
    <%= f.time_field :EndTime,:required => 'required', :class => "input_time" %> &nbsp
    <%= f.time_field :Break1start, :class => "input_time" %> &nbsp
    <%= f.time_field :Break1end, :class => "input_time" %> &nbsp
    <%= f.time_field :Break2start, :class => "input_time" %> &nbsp
    <%= f.time_field :Break2end, :class => "input_time" %> &nbsp
    <%= f.check_box :_destroy, { class: 'remove-fields' } %>
    <%= f.label :_destroy, 'Delete' %>
    <br>
</div>
