<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="/newplan.css" media="screen">
  </head>
<div class="container" id="container">
  <div class="overlay">
      <div class="overlay-panel overlay-right">
          <h1>Create a New Plan</h1>
          <p>Welcome to PLANNXT a tool to setup an event venue – all furniture and staff placements chronologically, and track the actual setup progress real-time.
              Let’s get started.. </p>
              
              
              <%= form_with model: @plan_model, :url => {:action => "update", :id => @plan_model} do |form| %>
                <div>
                  <%= form.label :name, "Plan Name", :class => "label" %>
                  <%= form.text_field :name, :class => "input_big" %>
                </div>
                <h3>Event Days: Setup through Breakdown</h3>

                <div>
                <%= form.fields_for :event_steps do |f| %>
                    <%= render 'event_step_fields', f: f%>
                    <% end %>
                <%= link_to_add_fields "Add Steps", form, :event_steps %>
                </div>
              
             <div> &nbsp</div>
              
              <div>
                  Dimensions of the Venue (approximate): &nbsp
                  <%= form.select :scale, ["Feet", "Meter"], :selected =>  @extra1_dict["scale"] %>
                  &nbsp 
                  Length:&nbsp
                  <%= form.number_field :length, value:  @extra1_dict["length"],:class => "input_small" %> &nbsp 
                  Width:&nbsp
                  <%= form.number_field :width,value:  @extra1_dict["width"], :class => "input_small" %> &nbsp 
              </div>

              <div> &nbsp</div>
              <div> &nbsp</div>
                <div>
                  <%= form.submit "Open PLAN TEMPLATE", :class => "submit_button" %>
                </div>
              <% end %>
            
              <script>

              $('form').on('click', '.remove-fields', function(event) {
                console.log('deleteclicked')
                  $(this).prev('input[type=hidden]').val('1');
                  $(this).closest('fieldset').hide();
                  return event.preventDefault();
                });
                
              $('form').on('click', '.add_fields', function(event) {
                console.log('clicked!')
                 var regexp, time;
                 time = new Date().getTime();
                 regexp = new RegExp($(this).data('id'), 'g');
                 $(this).before($(this).data('fields').replace(regexp, time));
                 return event.preventDefault();
                });
              </script>
      

              


</div>
</div>
</div>