  <!DOCTYPE html>
  <head>
	<link rel="stylesheet" href="/newplan.css" media="screen">
    </head>
<div class="container" id="container">
	<div class="overlay">
		<div class="overlay-panel overlay-right">
			<h1>Create a New Plan</h1>
			<p>Welcome to PLANNXT a tool to setup an event venue – all furniture and staff placements chronologically, and track the actual setup progress real-time.
				Let’s get started.. </p>
				
				
				
				<%= form_with model: @plan_model, local: true do |f| %>
				  <div>
				    <%= f.label :name, "Plan Name", :class => "label" %>
				    <%= f.text_field :name, :class => "input_big" %>
				  </div>
				  <h3>Event Days: Setup through Breakdown</h3>
				
				
				<table class ='table'>
				  <thead>
				  <tr>
				  <th></th>
				  <th>Step Name</th>
				  <th>Start Day</th>
				  <th>Start Time</th>
				  <th>End Day</th>
				  <th>End Time</th>
				  </tr>
				  </thead>
				  </table>

				  <%= f.fields_for :eventsteps do |builder| %>
					<%= render 'eventstep', f: builder %>
					<% end %>

				

				<div> &nbsp</div>
				
				<div>
					Dimensions of the Venue (approximate): &nbsp
					<%= f.select :scale, ["Feet", "Meter"]%>
					&nbsp 
					Length:&nbsp
					<%= f.number_field :length, :class => "input_small" %> &nbsp 
					Width:&nbsp
					<%= f.number_field :width, :class => "input_small" %> &nbsp 
				</div>

				<div> &nbsp</div>
				<div> &nbsp</div>
				<div>
				<%= link_to_add_row 'Add Steps',f, :eventsteps %>
				</div>
				  <div>
				    <%= f.submit "Open PLAN TEMPLATE", :class => "submit_button" %>
				  </div>
				<% end %>

</div>
</div>
</div>