<div id="<%= dom_id event_step %>">
  <p>
    <strong>Num:</strong>
    <%= event_step.Num %>
  </p>

  <p>
    <strong>Startday:</strong>
    <%= event_step.StartDay %>
  </p>

  <p>
    <strong>Starttime:</strong>
    <%= event_step.StartTime %>
  </p>

  <p>
    <strong>Endtime:</strong>
    <%= event_step.EndTime %>
  </p>

  <p>
    <strong>Breaktime:</strong>
    <%= event_step.BreakTime %>
  </p>

  <p>
    <strong>Plan model:</strong>
    <%= event_step.plan_model_id %>
  </p>

</div>
